* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
}

main {
    display: flex;
}

section.insights-section {
    width: 100%;
    max-width: 360px;
    background-color:  hsl(244, 37%, 16%);
    padding: 2.5em;
    border-radius: 5px 0 0 5px;
}

section.photo-section {
    width: 100%;
    max-width: 360px;
}

img.image-header-desktop {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
}

h1{
    font-family: Inter, sans-serif;
    font-size: 1.5625rem;
    color: hsl(0, 0%, 100%);
}

span.insights {
    color: hsl(277, 64%, 61%);
}

p {
    font-family: "Lexend Deca" , sans-serif;
    font-size: 0.65rem;
    color: hsla(0, 0%, 100%, 0.6);
}

.insights-section>p {
    line-height: 1.6;
    margin-bottom: 2.5em;
}

div.overall {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div.numbers {
    display: flex;
    flex-direction: column;
    line-height: 0.3;
}

.numbers>h2 {
    font-weight: 500;
    font-size: 0.9rem;
    font-family: Inter, sans-serif;
    color: hsla(0, 0%, 100%, 0.993);
}

small {
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    font-size:0.4375rem;
    color: hsla(0, 0%, 100%, 0.39);
}

.photo-section {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: hsla(277, 59%, 47%, 0.363);
    border-radius: 0 5px 5px 0;  
}



@media (max-width:600px) {
    body {
        font-size: 16px;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .image-header-mobile {
        display: block;
        width: 100%;
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .image-header-desktop {
        display: none;
    }

    section.insights-section {
        border-radius: 0 0 5px 5px;
    }

    section.photo-section {
        border-radius: 5px 5px 0 0;
       
    }

    .overlay {
        border-radius: 5px 5px 0 0;
    }
}

@media (min-width:601px) and (max-width:960px) {
    body {
        font-size: 18px;
    }

    .image-header-mobile {
        display: none;
    }
}

@media (min-width:961px) {
    body{
        font-size: 20px;
    }

    .image-header-mobile {
        display: none;
    }
}